@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality Assurance 1</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="light/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/light/css/feather.css">
    <link rel="stylesheet" href="~/light/css/select2.css">
    <link rel="stylesheet" href="~/light/css/dropzone.css">
    <link rel="stylesheet" href="~/light/css/uppy.min.css">
    <link rel="stylesheet" href="~/light/css/jquery.steps.css">
    <link rel="stylesheet" href="~/light/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/light/css/quill.snow.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="~/light/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="~/light/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="~/light/css/app-dark.css" id="darkTheme"  disabled> 
    <!-- Orig -->

    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="~/css/button-animation.css">

    <link rel="stylesheet" href="~/css/tables.css">
    <link rel="stylesheet" href="~/css/site.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700">

    @* carousel *@
    <link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/slick/slick-theme.css" />

    <script src="/js/xlsx.full.min.js"></script> @*use for export*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

    <link src="~/DataTables/DataTables-1.13.8/css/jquery.dataTables.min.css" rel="stylesheet"  />
    <link src="~/DataTables/Buttons-2.4.2/css/buttons.dataTables.min.css" rel="stylesheet"  />
    
</head>
<body class="vertical  light  ">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>
            <form class="form-inline mr-auto searchform text-muted" onload="consoleText()">
                <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search">
            </form>
            
           
            <ul class="nav">
                @*login profile here*@
               @*  <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
                        <i class="fe fe-sun fe-16"></i>
                    </a>
                </li> *@
                @* <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">
                        <span class="fe fe-grid fe-16"></span>
                    </a>
                </li>
                <li class="nav-item nav-notif">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
                        <span class="fe fe-bell fe-16"></span>
                        <span class="dot dot-md bg-success"></span>
                    </a>
                </li> *@
                
                @{
                    // Get the user's ID and username using UserManager
                    var ngayun = DateTime.UtcNow;
                    var username = UserManager.GetUserName(User) + ngayun;
                    var username2 = UserManager.GetUserName(User);

                    var modifiedEmail = username2.Replace("sdp-", "")?.Replace("@sanyodenki.com", "").ToUpper();
                   

                    // Construct the image source URL
                    var imageUrl = $"https://robohash.org/{username}";
                }

                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">
                        <span>@modifiedEmail</span>
                    </a>

                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            <img src=@imageUrl alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <partial name="_LoginPartial" />
                    </div>
                </li>
               
            </ul>
            
        </nav>
        
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar style="background-color:#404147;">
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <!-- nav bar -->
                <div class="w-100 mb-4 d-flex">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/img-logo.png" style="width:70%;" >
                    </a>
                </div>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item ">
                        <a asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false" class="nav-link pl-3">
                            <i class="fe fe-home fe-16"></i>
                            <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
                        </a>
                    </li>

                </ul>
                

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Request</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item ">
                        <a class="nav-link pl-3" asp-area="" asp-controller="ItemRequest" asp-action="Index">
                            <i class="fe fe-search fe-16"></i>
                            <span class="ml-3 item-text" title="Request to purchase">QA Purchase Request</span>
                        </a>
                    </li>
                </ul>




                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Records</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    

                    <li class="nav-item dropdown">
                        <a href="#cabinet" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-clipboard fe-16"></i>
                            <span class="ml-3 item-text">Consumables</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="cabinet">
                            <li class="nav-item w-100">
                                <a class="nav-link pl-3" asp-area="" asp-controller="Consumables" asp-action="Index">
                                    <i class="fe fe-shopping-cart fe-16"></i>
                                    <span class="ml-1 item-text">Registration</span>
                                </a>
                            </li>
                           
                            <li class="nav-item w-100">
                                <a class="nav-link pl-3" asp-area="" asp-controller="Consumables" asp-action="RequestorIndex">
                                    <i class="fe fe-folder-plus fe-16"></i>
                                    <span class="ml-1 item-text" title="Request consumable item">Item Request</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    


                    <li class="nav-item dropdown">
                        <a href="#stocks" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-activity fe-16"></i>
                            <span class="ml-3 item-text">Purchase Monitoring</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="stocks">
                            
                            <li class="nav-item w-100">
                                <a class="nav-link pl-3" asp-area="" asp-controller="Consumables" asp-action="IndexCritical" style="color:red;">
                                    <i class="fe fe-shopping-bag fe-16"></i>
                                    <span class="ml-1 item-text">Need to Purchase</span>
                                </a>
                            </li>
                            <li class="nav-item w-100">
                                <a class="nav-link pl-3" asp-area="" asp-controller="Purchase" asp-action="Index">
                                    <i class="fe fe-layers fe-16"></i>
                                    <span class="ml-1 item-text">Purchase Request</span>

                                </a>
                            </li>
                            

                        </ul>
                    </li>
                    


                    <li class="nav-item dropdown">
                        <a href="#computer" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-monitor fe-16"></i>
                            <span class="ml-3 item-text">Computers</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="computer">
                            <li class="nav-item w-100">
                                <a class="nav-link pl-3" asp-area="" asp-controller="Computers" asp-action="Index">
                                    <i class="fe fe-pen-tool fe-16"></i>
                                    <span class="ml-1 item-text">Registration</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-area="" asp-controller="Computers" asp-action="IndexHistory">
                                    <i class="fe fe-log-in fe-16"></i>
                                    <span class="ml-1 item-text">Records</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-area="" asp-controller="Computers" asp-action="IndexFixedAsset">
                                    <i class="fe fe-credit-card fe-16"></i>
                                    <span class="ml-1 item-text">FixedAsset</span></a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#machine" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-octagon fe-16"></i>
                            <span class="ml-3 item-text">Equipment/Machine</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="machine">
                            <li class="nav-item w-100">
                                <a class="nav-link pl-3" asp-area="" asp-controller="EquipmentMachine" asp-action="Index">
                                    <i class="fe fe-dollar-sign fe-16"></i>
                                    <span class="ml-1 item-text">Registration</span>
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-area="" asp-controller="EquipmentMachine" asp-action="IndexHistory">
                                    <i class="fe fe-log-in fe-16"></i>
                                    <span class="ml-1 item-text">Records</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-area="" asp-controller="EquipmentMachine" asp-action="IndexFixedAsset">
                                    <i class="fe fe-credit-card fe-16"></i>
                                    <span class="ml-1 item-text">FixedAsset</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>



               



                

               
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Settings</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                            <i class="fe fe-layers fe-16"></i>
                            <span class="ml-3 item-text">User Authentication</span>

                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="AppRoles" asp-action="Index">
                            <i class="fe fe-layers fe-16"></i>
                            <span class="ml-3 item-text">Roles</span>

                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-fill w-100 mb-2">                 
                    <li class="nav-item dropdown">
                        <a href="#contact" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link" >
                            <i class="fe fe-book fe-16"></i>
                            <span class="ml-3 item-text">Group</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="contact">
                            <li class="nav-item">
                                <a class="nav-link pl-3" ><span class="ml-1 item-text">QA1-P</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" ><span class="ml-1 item-text">QA1-QE</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" ><span class="ml-1 item-text">QA1-I</span></a>
                            </li>

                        </ul>
                    </li>
                </ul>

                @* picture *@
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <span class="avatar avatar-lg ">
                        <img src="@imageUrl" alt="..." class="avatar-img rounded-circle" style="width:100%;">
                    </span>
                    <label class="centermo">Hi @modifiedEmail ! <br /> Welcome to QA1 Management System!</label>
                </div>
                
               
            </nav>
        </aside>
        <main role="main" class="main-content">
            @RenderBody()
            @*@RenderSection("Scripts", required: false)*@


        </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="/light/js/jquery.min.js"></script>
    <script src="/light/js/popper.min.js"></script>
    <script src="/light/js/moment.min.js"></script>
    <script src="/light/js/bootstrap.min.js"></script>
    <script src="/light/js/simplebar.min.js"></script>
    <script src='/light/js/daterangepicker.js'></script>
    <script src='/light/js/jquery.stickOnScroll.js'></script>
    <script src="/light/js/tinycolor-min.js"></script>
    <script src="/light/js/config.js"></script>
    <script src="/light/js/d3.min.js"></script>
    <script src="/light/js/topojson.min.js"></script>
    <script src="/light/js/datamaps.all.min.js"></script>
    <script src="/light/js/datamaps-zoomto.js"></script>
    <script src="/light/js/datamaps.custom.js"></script>
    <script src="/light/js/Chart.min.js"></script>
    @* <script>
        /* defind global options */
        Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
        Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script> *@
    <script src="/light/js/gauge.min.js"></script>
    <script src="/light/js/jquery.sparkline.min.js"></script>
    <script src="/light/js/apexcharts.min.js"></script>
    <script src="/light/js/apexcharts.custom.js"></script>
    <script src='/light/js/jquery.mask.min.js'></script>
    <script src='/light/js/select2.min.js'></script>
    <script src='/light/js/jquery.steps.min.js'></script>
    <script src='/light/js/jquery.validate.min.js'></script>
    <script src='/light/js/jquery.timepicker.js'></script>
    <script src='/light/js/dropzone.min.js'></script>
    <script src='/light/js/uppy.min.js'></script>
    <script src='/light/js/quill.min.js'></script>
    
    <script src="/light/js/apps.js"></script>

    <!-- Original File -->
    <script src="/js/purchase.js"></script>
    <script src="/js/consumables.js"></script>
    <script src="/js/datatabless.js"></script>
    <script src="/js/computers.js"></script>
    <script src="/js/charts.js"></script>
    
    <script src="/js/3d.js"></script>
    <script src="/js/exportToExcel.js"></script>
    <script src="/js/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.1.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="~/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/js/slick-carousel.js"></script>

    <script type="text/javascript" src="~/js/d3chart.js"></script>

    <script src="/lib/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <script src="/DataTables/Buttons-2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="/DataTables/Buttons-2.4.2/js/buttons.html5.min.js"></script>
    <script src="/DataTables/Buttons-2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="/DataTables/Buttons-2.4.2/js/buttons.dataTables.min.js"></script>
    <script src="/DataTables/JSZip-3.10.1/jszip.min.js"></script>
    <script src="/DataTables/pdfmake-0.2.7/pdfmake.min.js"></script>
    <script src="/DataTables/pdfmake-0.2.7/vfs_fonts.js"></script>
    

   @*  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script> *@
    <script>
       
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>