
@{
    ViewData["Title"] = "Home Page";
}


<div class="">
@* 
<div class="image-container">
    <img style="width: 30%;" src="/images/img-logo.png" alt="sanyodenki" class="moving-image" />
</div>
*@
<div class="container">
        <div class="row">
            <div class="col-md-12">     
                <div class="text">
                    <p class="p1">M</p>
                    <p class="p1">A</p>
                    <p class="p1">K</p>
                    <p class="p1">E &emsp;</p>
                    <p class="p1">A</p>
                    <p class="p1">W</p>
                    <p class="p1">E</p>
                    <p class="p1">S</p>
                    <p class="p1">O</p>
                    <p class="p1">M</p>
                    <p class="p1">E &emsp;</p>
                    <p>
                        <span class="word wisteria">MEMORIES</span>       
                        <span class="word belize">DISCOVERIES</span>
                        <span class="word pomegranate">CREATIONS</span>    
                        <span class="word green">PROGRESS</span>
                        <span class="word midnight">DECISIONS</span>   
                    </p>
                </div>
            </div>

            <div class="col-md-12">  
                <div class="words">
                    <span>S</span>
                    <span>A</span>
                    <span>N</span>
                    <span>Y</span>
                    <span>O</span> 
                </div>

            </div>
            
            <div class="col-md-12" style="background-color:brown; position: relative;">
                <div class="custom-animation" style="position: fixed;bottom: 0; width: 100%;">
                    <div style="font-size: 15px;">QUALITY ASSURANCE 1 </div>
                    <div>
                        <span style="font-size: 15px;">&emsp; | &emsp;</span>
                        <span style="font-size: 15px;">SANYO DENKI PHILIPPINES INC.     </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class='console-container'>
                    <span id='text'></span>
                    <div class='console-underscore' id='console'>&#95;</div>
                </div>
            </div>

        </div>
</div>

    
   
    


    
    
</div> 








@* <div class="sketchfab-embed-wrapper"> 
    <iframe title="Cooling fan animated" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="1024" height="768" src="https://sketchfab.com/models/c2ae5f971caa45288f830e843ca9544e/embed?autospin=1&autostart=1"> </iframe> 
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> Cooling fan animated  by  AfterDarkVisuals on Sketchfab</p></div> *@