@model QA1_SYSTEM.Models.Consumables

@{
    ViewData["Title"] = "Edit";
}
@* <link rel="stylesheet" href="~/lib/bootstrap-5.3.2-dist/css/bootstrap.css"> *@

<h4>Item Request</h4>
<hr />

<div class="card" style="padding:20px;">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ConsumbleId" />
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label asp-for="part_number" class="control-label"></label>
                        <input asp-for="part_number" class="form-control" />
                        <span asp-validation-for="part_number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="item_description" class="control-label"></label>
                        <input asp-for="item_description" class="form-control" />
                        <span asp-validation-for="item_description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="date_reg" class="control-label"></label>
                        <input type="date" asp-for="date_reg" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="item_category" class="control-label"></label>
                        <select asp-for="item_category" class="form-control">
                            <option value="">Select</option>
                            <option value="Office Supply">Office Supply</option>
                            <option value="Machine Parts[Replacement]">Machine Parts[Replacement]</option>
                            <option value="Machine Parts[Consumables]">Machine Parts[Consumables]</option>
                            <option value="Machine Parts[Request]">Machine Parts[Request]</option>
                            <option value="Stocks">Stocks</option>
                            <option value="Non-Stocks">Non-Stocks</option>
                            <option value="PPE">PPE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="maker" class="control-label"></label>
                        <input asp-for="maker" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="supplier" class="control-label"></label>
                        <input asp-for="supplier" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="total_qty" class="control-label"></label>
                        <input readonly id="total_qty" asp-for="total_qty" class="form-control" />
                        <span asp-validation-for="total_qty" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="consum_qty" class="control-label"></label>
                        <input id="consum_qty" asp-for="consum_qty" oninput="calculateTotals()" class="form-control" />
                        <span asp-validation-for="consum_qty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="safety_qty" class="control-label"></label>
                        <input id="safety_qty" asp-for="safety_qty" oninput="calculateTotals()" class="form-control" />
                        <span asp-validation-for="safety_qty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="item_unit" class="control-label"></label>
                        <input asp-for="item_unit" class="form-control" />
                        <span asp-validation-for="item_unit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input hidden id="unit_price" asp-for="unit_price" oninput="calculateTotalValue()" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input hidden readonly id="total_price" asp-for="total_price" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="item_remarks" class="control-label"></label>
                        <textarea asp-for="item_remarks" class="form-control" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="currency" class="control-label"></label>
                        <select required asp-for="currency" class="form-control">
                            <option value="">Select</option>
                            <option value="USD">USD</option>
                            <option value="PHP">PHP</option>
                            <option value="JPY">JPY</option>

                        </select>
                        <span asp-validation-for="currency" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="_pathPic">Upload Picture</label>
                        <input type="file" id="_pathPic" name="_pathPic" class="form-control-file" accept=".jpg, .jpeg, .png, .gif, .bmp" />
                        <input hidden asp-for="item_picture" class="form-control" />
                    </div>
                    

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
                
                
            </div>
        </div>
        <hr />
        
        
        

    </form>
    <div style="padding-top:30px;">
        <a asp-action="Index">Back to List</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @* <script src="~/lib/bootstrap-5.3.2-dist/js/bootstrap.js"></script> *@
}
