@model QA1_SYSTEM.Models.Computers

@{
    ViewData["Title"] = "Create";
}


<form asp-action="Create" enctype="multipart/form-data">
<div class="d-flex justify-content-between" style="padding:5px;">
    <div><h4>Registration</h4></div>
    <div>
        <input type="submit" value="Create" class="btn btn-primary" style="width:100px" />
    </div>
</div>
<hr />
<div class="card" style="padding:10px;">
    
        <div class="container">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="date_reg" class="control-label"></label>
                        <input type="date" asp-for="date_reg" class="form-control" />
                        <span asp-validation-for="date_reg" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="computer_category" class="control-label"></label>
                        <select required asp-for="computer_category" class="form-control">
                            <option value="">Select</option>
                            <option value="Office Computer">Office Computer</option>
                            <option value="Industrial Computer">Industrial Computer</option>
                            <option value="Computer Server">Computer Server</option>
                            <option value="Network Attached Server">Network Attached Server</option>
                        </select>
                        <span asp-validation-for="computer_category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="processor_name" class="control-label"></label>
                        <input asp-for="processor_name" class="form-control" />
                        <span asp-validation-for="processor_name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="ram_capacity" class="control-label"></label>
                        <input asp-for="ram_capacity" class="form-control" />
                        <span asp-validation-for="ram_capacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="hdd_capacty" class="control-label"></label>
                        <input asp-for="hdd_capacty" class="form-control" />
                        <span asp-validation-for="hdd_capacty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="os_installed" class="control-label"></label>
                        <input asp-for="os_installed" class="form-control" />
                        <span asp-validation-for="os_installed" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ip" class="control-label"></label>
                        <input asp-for="ip" class="form-control" oninput="formatIPAddress(this)" />
                        <span asp-validation-for="ip" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="macAddress" class="control-label"></label>
                        <input asp-for="macAddress" class="form-control" />
                        <span asp-validation-for="macAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="active_user" class="control-label"></label>
                        <input asp-for="active_user" class="form-control" />
                        <span asp-validation-for="active_user" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="_pathPic">Upload Picture</label>
                        <input type="file" id="_pathPic" name="_pathPic" class="form-control-file" accept=".pdf, .jpg, .jpeg, .png, .gif, .bmp" />
                        <input hidden asp-for="path_pic" class="form-control" />
                    </div>

                </div>
                
            </div>
        </div>
        
    
</div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
