@model QA1_SYSTEM.Models.Purchasing

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" enctype="multipart/form-data">
<div class="d-flex justify-content-between" style="padding:5px;">
    <div><h4>Create new request</h4></div>
    <div>
        <input type="submit" value="Create" class="btn btn-primary" style="width:100px"/>
    </div>
</div>
<hr />
<div class="card" style="padding:10px;">
    
        <div class="container">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="date_request" class="control-label"></label>
                        <input type="date" asp-for="date_request" class="form-control" />
                        <span asp-validation-for="date_request" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="purchase_dept" class="control-label"></label>
                        <select required asp-for="purchase_dept" class="form-control">
                            <option value="">Select</option>
                            <option value="MP">MP</option>
                            <option value="PGA">PGA</option>
                            <option value="SDC">SDC</option>
                        </select>
                        <span asp-validation-for="purchase_dept" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="category" class="control-label"></label>
                        <select required asp-for="category" class="form-control">
                            <option value="">Select</option>
                            <option value="Capital_Investment">Capital_Investment</option>
                            <option value="Projects">Projects</option>
                            <option value="AIE">AIE</option>
                            <option value="Consumables">Consumables</option>
                            <option value="Others">Others</option>
                        </select>
                        <span asp-validation-for="category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="part_number" class="control-label"></label>
                        <input asp-for="part_number" class="form-control" />
                        <span asp-validation-for="part_number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="item_description" class="control-label"></label>
                        <textarea asp-for="item_description" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="item_description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="maker" class="control-label"></label>
                        <input asp-for="maker" class="form-control" />
                        <span asp-validation-for="maker" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="supplier" class="control-label"></label>
                        <input asp-for="supplier" class="form-control" />
                        <span asp-validation-for="supplier" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="request_qty" class="control-label"></label>
                        <input id="request_qty" type="number" asp-for="request_qty" oninput="calculateTotal()" class="form-control" />
                        <span asp-validation-for="request_qty" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="request_unit" class="control-label"></label>
                        <select required asp-for="request_unit" class="form-control">
                            <option value="">Select</option>
                            <option value="PC(S)">PC(S)</option>
                            <option value="PACK">PACK</option>
                            <option value="BOX">BOX</option>
                        </select>
                        <span asp-validation-for="request_unit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="unit_price" class="control-label"></label>
                        <input id="unit_price" type="number" asp-for="unit_price" oninput="calculateTotal()" class="form-control" />
                        <span asp-validation-for="unit_price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="total_price" class="control-label"></label>
                        <input readonly id="total_price" asp-for="total_price"  class="form-control" />
                        <span asp-validation-for="total_price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="item_currency" class="control-label"></label>
                        <select required asp-for="item_currency" class="form-control">
                            <option value="">Select</option>
                            <option value="USD">USD</option>
                            <option value="PHP">PHP</option>
                            <option value="JPY">JPY</option>
                        </select>
                        <span asp-validation-for="item_currency" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="request_reason" class="control-label"></label>
                        <textarea asp-for="request_reason" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="request_reason" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="request_status" class="control-label"></label>
                        <select required asp-for="request_status" class="form-control">
                            <option value="">Select</option>
                            <option value="FOR APPROVAL">FOR APPROVAL</option>
                            <option value="WAITING FOR ARRIVAL">WAITING FOR ARRIVAL</option>
                            <option value="ITEM RECEIVED">ITEM RECEIVED"</option>
                            <option value="CANCELLED">CANCELLED</option>
                        </select>
                        <span asp-validation-for="request_status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="date_submitPR" class="control-label"></label>
                        <input type="date" asp-for="date_submitPR" class="form-control" />
                        <span asp-validation-for="date_submitPR" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="person_submitPR" class="control-label"></label>
                        <input asp-for="person_submitPR" class="form-control" />
                        <span asp-validation-for="person_submitPR" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="purchase_order" class="control-label"></label>
                        <input asp-for="purchase_order" class="form-control" />
                        <span asp-validation-for="purchase_order" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="est_time_arrival" class="control-label"></label>
                        <input asp-for="est_time_arrival" class="form-control" />
                        <span asp-validation-for="est_time_arrival" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="date_needed" class="control-label"></label>
                        <input type="date" asp-for="date_needed" class="form-control" />
                        <span asp-validation-for="date_needed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="date_received" class="control-label"></label>
                        <input type="date" asp-for="date_received" class="form-control" />
                        <span asp-validation-for="date_received" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="received_qty" class="control-label"></label>
                        <input asp-for="received_qty" class="form-control" />
                        <span asp-validation-for="received_qty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="item_comment" class="control-label"></label>
                        <textarea asp-for="item_comment" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="item_comment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="pr_number" class="control-label"></label>
                        <input asp-for="pr_number" class="form-control" />
                        <span asp-validation-for="pr_number" class="text-danger"></span>
                    </div>
                    

                    
                </div>
                <div class="d-flex justify-content-between" style="padding:5px;">
                    <div>
                        <div class="form-group">
                            <label for="_pathDoc">Upload Purchase Order</label>
                            <input type="file" id="_pathDoc" name="_pathDoc" class="form-control-file" accept=".pdf, .jpg, .jpeg, .png, .gif, .bmp" />
                            <input hidden asp-for="po_path" class="form-control" />
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="_pathDoc2">Upload Purchase Request</label>
                            <input type="file" id="_pathDoc2" name="_pathDoc2" class="form-control-file" accept=".pdf" />
                            <input hidden asp-for="pr_path" class="form-control" />
                        </div>
                    </div>
                </div>
                
                

            </div>
        </div>
        
    
</div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
